{% extends "base.html" %}
{% block title %}Album Info{% endblock title %}
{% block content %}
    <div class="container">
        <div class="text-center" style="padding-bottom:65px">
            <h1>{{ album.name }}</h1>
        </div>
        <dl class="row properties">
            <dt class="col-sm-3">Artists</dt>
            <dd class="col-sm-9">
                <ul class="list-group">
                {% for artist in album.artists.all %}
                    <li class="list-group-flush artists">
                        <a href="{% url 'artists:single_artist' artist.spotify_id %}">
                            {{ artist.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </dd>
            <dt class="col-sm-3">Tracks</dt>
            <dd class="col-sm-9">
                <ul class="list-group">
                {% for track in album.tracks.all %}
                    <li class="list-group-flush artists">
                        <a href="{% url 'tracks:track_info' track.spotify_id %}">
                            {{ track.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </dd>
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{ album.spotify_id }}</dd>
            <dt class="col-sm-3">Release Date</dt>
            <dd class="col-sm-9">{{ album.release_date }}</dd>
        </dl>
    </div>
{% endblock content %}