{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="text-center">
        <h1>Welcome</h1>
    </div>
    <!-- TODO broken for some reason. should use url with reverse -->
    <form action="/spotify_login/" class="form" method="POST">
        <div class="row justify-content-center" style="padding-top: 65px">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary col-2 text-center">
                Login
            </button>
        </div>
    </form>
{% endblock content %}