{% extends "base.html" %}
{% block title %}Artist: {{ name }}{% endblock title %}
{% block content %}
    <div class="text-center">
        <h1>{{ name }}</h1>
    </div>
    <div class="container">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td class="track-name">
                      <a href="{% url 'tracks:track_info' track.spotify_id %}">
                        {{ track.name }}
                      </a>
                  </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}