{% extends "base.html" %}
{% block title %}{{ items.name }} Tracks{% endblock title %}
{% block content %}
    <div class="container">
        <div class="text-center" style="padding-bottom:65px">
            <h1>{{ track.name }}</h1>
        </div>
        <dl class="row properties">
            <dt class="col-sm-3">Artists</dt>
            <dd class="col-sm-9">
                <ul class="list-group">
                {% for artist in track.artists.all|dictsort:"spotify_id" %}
                    <li class="list-group-flush artists">
                        <a href="{% url 'artists:single_artist' artist.spotify_id %}">
                            {{ artist.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </dd>
            <dt class="col-sm-3">Album</dt>
            <dd class="col-sm-9">
                <a href="{% url 'albums:album_info' track.album.spotify_id %}">
                    {{ track.album }}
                </a>
            </dd>
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{ track.spotify_id }}</dd>
            <dt class="col-sm-3">Duration</dt>
            <dd class="col-sm-9">{{ track.duration }}</dd>
            <dt class="col-sm-3">Explicit</dt>
            <dd class="col-sm-9">{{ track.is_explicit|yesno:"Yes,No" }}</dd>
            <dt class="col-sm-3">Popularity</dt>
            <dd class="col-sm-9">{{ track.popularity }}</dd>
        </dl>
    </div>
{% endblock content %}