{% extends "base.html" %}
{% load date_utils %}
{% block title %}Track: {{ track.name }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="text-center" style="padding-bottom:65px">
            <h1>Track Info</h1>
        </div>
        <dl class="row properties">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9" id="track-name">{{ track.name }}</dd>
            <dt class="col-sm-3">Artists</dt>
            <dd class="col-sm-9">
                <ul class="list-group" id="artists">
                {% for artist in track.artists.all|dictsort:"name" %}
                    <li class="list-group-flush artist">
                        <a href="{% url 'artists:single_artist' artist.spotify_id %}">
                            {{ artist.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </dd>
            <dt class="col-sm-3">Album</dt>
            <dd class="col-sm-9" id="track-album">
                <a href="{% url 'albums:album_info' track.album.spotify_id %}">
                    {{ track.album }}
                </a>
            </dd>
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9" id="track-id">{{ track.spotify_id }}</dd>
            <dt class="col-sm-3">Duration</dt>
            <dd class="col-sm-9" id="duration">{% display_timedelta_only_mins track.duration %}</dd>
            <dt class="col-sm-3">Explicit</dt>
            <dd class="col-sm-9" id="explicit">{{ track.is_explicit|yesno:"Yes,No" }}</dd>
            <dt class="col-sm-3">Popularity</dt>
            <dd class="col-sm-9" id="popularity">{{ track.popularity }}</dd>
            <dt class="col-sm-3">Uri</dt>
            <dd class="col-sm-9" id="uri">{{ track.uri }}</dd>
        </dl>
    </div>
{% endblock content %}